{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}



{% block main %}

    <style>
        /* Center the table using text-align and adjust width */
        table {
        width: 80%; /* Adjust the width as needed */
        border-collapse: collapse;
        margin-top: 20px;
        color: black;
        margin: 0 auto; /* Center the table horizontally */
        }

        th, td {
        padding: 10px;
        text-align: center;
        border: 4px solid #ddd;
        color: black; /* Ensure text color is set for th and td */
        }
    </style>
    <p>Your balance is: {{ balance | usd}}</p>
    <table>
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row.symbol }}</td>
            <td>{{ row.qty }}</td>
            <td>{{ row.price | usd}}</td>
            <td>{{ row.total | usd }}</td>
        </tr>
        {% endfor %}
    </table>
    <p>Your Grand Total is: {{ grandTotal | usd}}</p>
{% endblock %}
